.egg {
}

.ur {
  position: absolute;
  width: 100vw;
  margin: auto;
  padding: 0 50%;
  img {
    width: 18px;
  }
}

.br {
  position: absolute;
  width: 100vw;
  margin: auto;
  padding: 0 50%;
  img {
    width: 22px;
  }
}

.ur-1 {
  position: relative;
  top: -320px;
  right: 335px;
}

.ur-6 {
  position: relative;
  top: -215px;
  right: 335px;
}

.ur-7 {
  position: relative;
  top: -229px;
  right: 316px;
}

.ur-8 {
  position: relative;
  top: -239px;
  right: 292px;
}

.ur-9 {
  position: relative;
  top: -255px;
  right: 267px;
}

.ur-10 {
  position: relative;
  top: -265px;
  right: 247px;
}

.ur-2 {
  position: relative;
  top: -330px;
  right: 312px;
}

.ur-3 {
  position: relative;
  top: -340px;
  right: 287px;
}

.ur-4 {
  position: relative;
  top: -350px;
  right: 265px;
}

.ur-5 {
  position: relative;
  top: -360px;
  right: 245px;
}

.ur-11 {
  position: relative;
  top: -320px;
  right: -307px;
}

.ur-12 {
  position: relative;
  top: -330px;
  right: -287px;
}

.ur-13 {
  position: relative;
  top: -345px;
  right: -262px;
}

.ur-14 {
  position: relative;
  top: -361px;
  right: -240px;
}

.ur-15 {
  position: relative;
  top: -366px;
  right: -220px;
}

.ur-20 {
  position: relative;
  top: -272px;
  right: -222px;
}

.ur-16 {
  position: relative;
  top: -220px;
  right: -310px;
}

.ur-17 {
  position: relative;
  top: -235px;
  width: 26px !important;
  right: -285px;
}

.ur-18 {
  position: relative;
  top: -247px;
  right: -262px;
}

.ur-19 {
  position: relative;
  top: -262px;
  width: 26px !important;
  right: -237px;
}

.hide {
  opacity: 0;
}
